<div data-role="page">

  <div data-role="header">
    <h1>Transporter</h1>
  </div><!-- /header -->

  <div data-role="content">
    <label for="basic">From:</label>
    <input type="text" name="name" id="from" value=""  />

    <label for="basic">To:</label>
    <input type="text" name="name" id="to" value=""  />


    <input type="button" value="Go" id="search"/>
  </div><!-- /content -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
    <div data-role="navbar">
      <ul>
	<li><a href="/homes/index">Routes</a></li>
	<li><a href="/homes/local_map">Local</a></li>
	<li><a href="/homes/find_route"  class="ui-btn-active ui-state-persist">A to B</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /page -->
</div>
