<div data-role="page">

	<div data-role="header">
		<h1>Transporter</h1>
	</div><!-- /header -->

	<div data-role="content">
	<input name="" id="searchStops" placeholder="" value="" type="search" />
	<ul id="stopList" data-role="listview" data-inset="true">
	</ul>

	</div><!-- /content -->
	<div data-role="footer" data-id="foo1" data-position="fixed">
	<div data-role="navbar">
	<ul>
		<li><a href="/homes/index"  class="ui-btn-active ui-state-persist">Routes</a></li>
		<li><a href="/homes/local_map">Local</a></li>
		<li><a href="/homes/find_route">A to B</a></li>
	</ul>
	</div><!-- /navbar -->
	</div><!-- /footer -->
	</div><!-- /page -->
