		<div data-role="page" id="map-page">

	<div data-role="header">
	<a href="#popupMenu" data-rel="popup" class="ui-button-left">Open Popup</a>
		<h1>Transporter</h1>
		<a id="panorama" class="ui-btn-right">Street</a>
	</div><!-- /header -->

	<div data-role="content" id="map_canvas">	

	
	</div><!-- /content -->
	<div data-role="footer" data-id="foo1" data-position="fixed">
	<div data-role="navbar">
	<ul>
		<li><a href="/homes/index">Routes</a></li>
		<li><a href="/homes/local_map" class="ui-btn-active ui-state-persist">Local</a></li>
		<li><a href="/homes/find_route">A to B</a></li>		
	</ul>
	</div><!-- /navbar -->
	</div><!-- /footer -->


		<div data-role="popup" id="popupMenu" data-theme="a">
			<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
				<ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="b">
					<li data-role="divider" data-theme="a" id="stop-name"></li>
					<li><a href="options.html">Options</a></li>
					<li><a href="methods.html">Methods</a></li>
					<li><a href="events.html">Events</a></li>
					<li><a href="options.html">Options</a></li>
					<li><a href="methods.html">Methods</a></li>
					<li><a href="events.html">Events</a></li>					
				</ul>
		</div>
		
		
	</div><!-- /page -->
	