	<div data-role="page" id="stop-page" data-transition="slide-up"  data-add-back-btn="true">

	<div data-role="header">
		<h1 id="stop-name">Stop Info</h1>
	</div><!-- /header -->

	<div data-role="content" id="map_canvas">	
		<ul data-role="listview">
			<li><strong>X5</strong> Piccadilly Gardens 15mins</li>
			<li><strong>X5</strong> Piccadilly Gardens 15mins</li>
			<li><strong>X5</strong> Piccadilly Gardens 15mins</li>
			<li><strong>X5</strong> Piccadilly Gardens 15mins</li>								
		</ul>
	
	</div><!-- /content -->
	
	</div><!-- /page -->
	