	<div data-role="page" id="stop-page" data-transition="slide-up">

	<div data-role="header">
		<h1>Stop Info</h1>
		<a id="close-stop-info" class="ui-btn-right">Close</a>
	</div><!-- /header -->

	<div data-role="content" id="map_canvas">	
		<h1>Bus Data</h1>
	
	</div><!-- /content -->
	
	</div><!-- /page -->
	