<script type="text/javascript" src="g"></script>
<div data-role="page" id="map-pages">
<div data-role="header">
		<h1>Transporter</h1>
		<a id="panorama" class="ui-btn-right">Street</a>
	</div>

<div data-role="content" id="map">
	
</div>
	<div data-role="footer" data-id="foo1" data-position="fixed">
	<div data-role="navbar">
	<ul>
		<li><a href="/homes/index"   class="ui-btn-active ui-state-persist">Routes</a></li>
		<li><a href="/homes/local_map">Local</a></li>
		<li><a href="/homes/find_route" >A to B</a></li>
	</ul>
	</div><!-- /navbar -->
	</div><!-- /footer -->
</div>



